

.ui_unselstart{
    user-select:none;
    -moz-user-select:-moz-none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

.ui.datePicker{
    font-family: arial,sans-serif;
    width: 231px;
    color: #494949;
    border: 1px solid #B3C4E5;
    overflow: hidden;
}
.ui.datePicker > .header{
    width: 231px;
    height: 26px;
    background: #1B386D;
    overflow: hidden;
}
.ui.datePicker > .header > .btn{
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;
    border-radius: 5px;
    color: #D6E8F9;
}
.ui.datePicker > .header > .btn:hover{
    color: #3D7BED;
}
.ui.datePicker > .header > .prev{
    float: left;
    margin-left: 4px;
}
.ui.datePicker > .header > .switchBox{
    float: left;
    font-size: 14px;
    height: 25px;
    width: 75px;
    margin-left:2px;
    line-height: 27px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-left: 50px;
}
.ui.datePicker > .header > .switchBox > .year{
    float: left;
}
.ui.datePicker > .header > .switchBox > .year:hover{
    color: #3D7BED;
}
.ui.datePicker > .header > .switchBox > .sep{
    float: left;
    width: 18px;
}
.ui.datePicker > .header > .switchBox > .month{
    float: left;
}
.ui.datePicker > .header > .switchBox > .month:hover{
    color: #3D7BED;
}
.ui.datePicker > .header > .next{
    float: right;
    margin-right: 4px;
}
.ui.datePicker > .dayBox{
    background: #C7D8ED;
    overflow: hidden;
    border-bottom: 1px solid #B9CFF7;
}
.ui.datePicker > .dayBox > .day{
    float: left;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width:30px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #C7D8ED;
    margin-right: 1px;
    cursor: default;
    background: #C7D8ED;
}
.ui.datePicker > .dateBox{

}
.ui.datePicker > .dateBox > .date{
    float: left;
    text-align: center;
    font-size: 15px;
    width:30px;
    height: 25px;
    line-height: 25px;
    margin-right: 1px;
    border: 1px solid white;
    margin-top: 1px;
    cursor: pointer;
    border-radius: 5px;
}
.ui.datePicker > .dateBox > .date:hover{
    background: #C7D8ED;
}
.ui.datePicker > .dateBox > .date.selected{
    background: #3059A0;
    border-color: #3059A0;
    color: white;
}
.ui.datePicker > .dateBox > .date.lastMonthDate{
    color: #C1C1C1;
}
.ui.datePicker > .footer{
    clear: both;
    height: 25px;
    background: #C7D8ED;
    border-top: 1px solid #B9CFF7;
}


