
.StdUI_DatePicker{
    font-family: arial,sans-serif;
    width: 231px;
    color: #494949;
    border: 1px solid #B3C4E5;
    overflow: hidden;
    outline: none;
    border-radius: 2px;
}
.StdUI_DatePicker > ._header{
    height: 30px;
    width: 231px;
    background: #1B386D;
    overflow: hidden;
}
.StdUI_DatePicker > ._header > ._value{
    float: left;
    width: 130px;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    margin-top: 3px;
    text-align: center;
    cursor: pointer;
    color: white;
}
.StdUI_DatePicker > ._header > ._year{
    float: left;
    width: 40px;
}
.StdUI_DatePicker > ._header > input{
    float: left;
    font-size: 12px;
    margin-top: 3px;
    text-align: center;
    padding: 4px 2px 4px 2px;
    border: 1px solid #4AB1F5;
}
.StdUI_DatePicker > ._header > ._month{
    float: left;
    width: 30px;
}
.StdUI_DatePicker > ._header > ._btn{
    float: left;
    height: 30px;
    line-height: 30px;
    width: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #D6E8F9;
}
.StdUI_DatePicker > ._header > ._btn:hover{
    color: #3D7BED;
}
.StdUI_DatePicker > ._header > ._prevYear{
    margin-left: 5px;
}
.StdUI_DatePicker > ._header > ._prevMonth{

}
.StdUI_DatePicker > ._header > ._nextMonth{

}
.StdUI_DatePicker > ._header > ._nextYear{
    margin-right: 45px;
}

.StdUI_DatePicker > ._body{

}
.StdUI_DatePicker > ._body > ._dayBox{
    background: #C7D8ED;
    overflow: hidden;
    border-bottom: 1px solid #B9CFF7;
}
.StdUI_DatePicker > ._body > ._dayBox > ._day{
    float: left;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width:30px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #C7D8ED;
    margin-right: 1px;
    cursor: default;
    background: #C7D8ED;
}
.StdUI_DatePicker > ._body > ._dateBox{

}
.StdUI_DatePicker > ._body > ._dateBox > ._date{
    float: left;
    text-align: center;
    font-size: 13px;
    width:30px;
    height: 25px;
    line-height: 25px;
    margin-right: 1px;
    border: 1px solid transparent;
    margin-top: 1px;
    cursor: pointer;
    border-radius: 100%;
}
.StdUI_DatePicker > ._body > ._dateBox > ._date:hover{
    background: #C7D8ED;
}
.StdUI_DatePicker > ._body > ._dateBox > ._date.selected{
    background: #3059A0;
    color: white;
}
.StdUI_DatePicker > ._body > ._dateBox > ._date._lastMonthDate{
    color: #C1C1C1;
}
.StdUI_DatePicker > ._footer{
    clear: both;
    height: 25px;
    background: #C7D8ED;
    border-top: 1px solid #B9CFF7;
}


